backend/obj
backend/bin
backend/.vs
backend/.vscode/

container/*/sql

.DS_Store
.vscode

frontend/public

.vs/

backend/backendTests/bin

backend/backendTests/obj

backend/backendTests/backendTests.csproj.user
