backend/obj
backend/bin
backend/.vs
backend/.vscode/

container/*/sql

.DS_Store
.vscode

frontend/public

.vs/

XUnitTest_backend/bin

XUnitTest_backend/obj

XUnitTest_backend/XUnitTest_backend.csproj.user
